# =====================
# Python / Jupyter
# =====================
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# =====================
# Ambientes virtuais
# =====================
.venv/
venv/
env/

# =====================
# DADOS
# =====================
data/

# =====================
# Outputs gerados
# =====================
outputs/

# =====================
# IDE / Sistema
# =====================
.vscode/
.idea/
.DS_Store
Thumbs.db
